<div class="headline">
  Whether we’re delivering boxed,  basket lunches to meetings or creating a grand
  affair for the year-end staff party, mBM Corporate Catering offers opportunities
  for a chance to get creative.
  <div class="second-section" ng-show="boolValue">
    We opt for creative touches that set you apart from the leagues of other companies
    making your employees feel special. We take into consideration group and portion sizes,
    along with any detary restrictions your staff/clients may have for health or personal reasons.
  </div>

</div>
