{% extends 'success-layout.html' %} {% block content %}
<div class="container-fluid" style="font-family:Lobster">
  <article id="success" class="loading">
    <div id="preload">
      <img src="../images/bcg_slide-1.jpg">
      <img src="../images/bcg_slide-2.jpg">
      <img src="../images/bcg_slide-3.jpg">
      <img src="../images/bcg_slide-4.jpg">
    </div>
    <main>
      <section id="slide-1" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target="#slide-1">
          <div class="hsContainer">
            <h1><a class="test" href="#" data-toggle="tooltip" data-placement="left" title="Go Back">
            <i class="fa fa-arrow-left" style="color:green;position:fixed;top:2px;left:15px;font-size:24pt;" onclick="window.history.back();"></i></a></h1>
            <div class="hsContent" data-center="bottom: 200px; opacity: 1" data-top="bottom: 1200px; opacity: 0" data-anchor-target="#slide-1 h2">
              <h2>Our Success:</h2>
              <p style="font-family:'Lobster';">
                Though the genesis of mBM catering company may be similar to any other company, one thing that sets the owner Melvina September apart, is the passion and drive to make her business a success. She combines her Bachelor's degree in Human Ecology, majors
                in Food and Nutrition,and her Human Resources and Development, together with her MBA in Business principles to create a successful business. For Mel of mBM Catering in the South Peninsula, Cape Town it's not about the money but about the
                confidence. mbm Catering Services
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="slide-2" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-2">
          <div class="hsContainer">
            <div class="hsContent" data-center="opacity: 1" data-center-top="opacity: 0" data--100-bottom="opacity: 0;" data-anchor-target="#slide-2">
              <p>
                "As entrepreneurs in this tough economy, you don't ask 'Is this a good time?' you just do," Mel says. "I wanted to grow mBM into the corporate world and I am comfortable with my concepts and execution of my ideas." Clients find her approachable and sees
                the passion for the industry through her quality in food and styling of events. "The key is that you've got to love this business. You have to have a heart for it," said Mel."You have to have the personality."
              </p>
            </div>
          </div>
      </section>
      <section id="slide-3" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-3">
          <div class="hsContainer">
            <div class="hsContent" data--50-bottom="opacity: 0;" data--200-bottom="opacity: 1;" data-center="opacity: 1" data-200-top="opacity: 0" data-anchor-target="#slide-3 h2">
              <p>
                Be willing to change the business concept, be willing to be flexible and allow the client's ideas to be a design starting point then have the ability to develop it into an "above expectation" successful result, says Mel. With our expansion,"We provide
                a food service to various camping groups in any area," said the owner "You have to create your opportunities and re-invent yourself all the time." A further expansion to the production section of mBM is the GoodFoodsWrapped range of "take
                away" delicacies. What started out as "popcorn" is now fully fledged production lines of items that can be ordered for snacks, kids parties, corporate gifts, or table gifts for any occasions. mbm Catering Services</p>
            </div>
          </div>
        </div>
      </section>

      <section id="slide-4" class="homeSlide">
        <div class="bcg" data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;" data-bottom-top="background-position: 50% 100px;" data-anchor-target="#slide-4">
          <div class="hsContainer">
            <div class="hsContent" data-bottom-top="opacity: 0" data-25p-top="opacity: 0" data-top="opacity: 1" data-anchor-target="#slide-4">
              <h2>WOW factor:</h2>
              <p> Mel and her specially selected teams treat guests with respect and always show happy smiley faces. Trademark food courses include beautiful cocktail snacks, hake Briyani, gentle and slow oven baked beef cuts, freshly prepared vegetables
                which is drizzled with olive oil and roasted as well as home made sauces and amongst many many other favourites home baked bread rolls. Dessert is almost always a buffet, or rather such a large variety, that the client seldom gets through
                all the choices. Perks: The firm also does off-premise catering such as spit braai's and picnics for corporate events, conferences, seminars, family reunions and school events, religious and youth group gatherings.
                <br> The backstory: Mel launched the business 1992. Since then the firm has expanded its clientele to include corporate catering, weddings and an array of special events as mentioned before. Her experience with International groups touring
                Cape Town, weddings and corporate events as well as mass catering for camps gives her company the edge as she understands both FIVE Star as well as canteen catering and guides her teams accordingly. Working within the economic downturn,
                Mel was able to maintain her volume by adjusting prices to suit any pocket.</p>
            </div>
          </div>
        </div>
      </section>
    </main>

  </article>
  </div>
  <div class="uparrow">
    <i class="fa fa-arrow"></i>
  </div>
  {% endblock %}
