.your-class {
  width:96%;
  align-self: center;
  margin: auto;
  background-color: $green;
  padding-left: 15px;
  padding-right: 15px;


}
 .slick-arrow{
  color: $green;
  border: 1px solid $green;
  background: $green;

}
