.contentwrapper{
    background-image: linear-gradient($orange, $grey);
    img{
        width: 10%;
    }
}
.headline{
	padding: 20px;
  font-family: 'Lobster';
  font-size: 18pt;
  &::first-letter{
    font-size: 34pt;
  }
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar, .menu{
  background-color: $white;
}
.nav, .navbar-nav{
  font-size: 18pt;
  ul{
    li:hover{
      color: $green;
      a{
        color: $green;
      }
    }

  }
}

.navbar-default .navbar-nav > li > a {
    color: $green;
    &:hover{
      background-color: $green;
      color:white;
    }
}

.navbar .nav, .navbar .nav > li{
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  *zoom:1;  /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner{
  text-align: center;
}
$bgDefault      : #39a74f;
$bgHighlight    : #33bf12;
$colDefault     : #000000;
$colHighlight   : #ecdbff;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
