
/*
    _variables.scss
    holds the colours and the fonts for the project
    @author : Max-Andre Zils
    @date   : 12 08 2015
*/

// Colors
$white     : rgba(254, 255, 250, 1);
$grey      : rgba(220, 231, 235, 1);
$green     : rgba(102, 214, 138, 0.5);
$black     : rgba(48, 69, 92, 0.8);
$orange    : #ffa500;
$grey      : #726c61;
$limegreen : #32CD32;
$color-1: #39393c; // charcoal
$color-2: #79b6e4; // blue
$color-3: #dadee1; // light blue
$color-4: #ffffff; // white

//fonts
$primary   : serif;
$secondary : monospace;
$sans: "Titillium Web", sans-serif;
$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Georgia', serif;
//END OF VARIABLES
//==========================================
