<!-- JS Defaults -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>

<!-- Personal Scrips -->
<script src="../js/carousel-slick.js"></script>
<script type="text/javascript" src="../js/navbar_fixed.js"></script>
<script src="../js/accordion.js"></script>
<script src="../js/events.js"></script>
<script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js'></script>
<script src='http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js'></script>
<script src="../js/photoswipe.js"></script>
<script src="../js/photoswipe.js"></script>
<script src="../js/nav.js"></script>