<div class="menu">
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class"active"><a href="/events"><i class="fa fa-calendar"></i> Events</a></li>
      <li><a href="/portfolio"><i class="fa fa-suitcase"></i> Portfolio</a></li>
      <li class="hidden-xs"><a href="/success"> <i class="fa fa-thumbs-o-up"></i> Success</a></li>
      <li><a href="/testimonials"><i class="fa fa-suitcase"></i> Testimonials</a></li>
      <li><a href="/contact"><i class="fa fa-phone"></i>  Contact</a></li>
    </ul>
  </div>
</nav>
</div>
